body{
    background-color: #36454F ;
   
    
}
span {
    
    background-color:#94ae94;
}
#one1{background-color:#94ae94;

}
#two2{background-color:#94ae94;

}
#three3{background-color:#94ae94;

}
#four4{background-color:#94ae94;

}
div{
    background-color:#94ae94;
}
